* {
  margin: 0;
  padding: 0;
}

body {
  padding: 6em;
  display: flex;
  justify-content: center;
}

svg {
  overflow: visible;
}

.slider {
  fill: #fc1c50;
  stroke-width: 1px;

  --size: 8; /* px */
  r: var(--size);
  cx: var(--size);
  cy: var(--size);
}

.path {
  fill: none;
  stroke: #d4d4d4;
  stroke-width: 4px;
  stroke-linecap: round;

  /* M ?, ?c-?, ?-?, ?-?s?, ?, ?, ? */
  /*d: path("M128, 256c0-70.6, 57.4-128, 128-128s128, 57.4, 128,128");*/

  /* M x y x y */
  d: path("M 0 0 256 0");
}

.answer {
  margin-left: 32px;
  margin-bottom: 32px;
}
