* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

svg {
  overflow: visible;
}

.slider {
  fill: #fc1c50;
  stroke-width: 1px;
  cursor: pointer;
  transition: 0.4s all ease-out;

  --size: 8; /* px */
  r: var(--size);
  cx: var(--size);
  cy: var(--size);
}

.path {
  fill: none;
  stroke: #d4d4d4;
  stroke-width: 4px;
  stroke-linecap: round;

  /* M x y x y */
  /*d: path("M 0 0 200 0");*/

  /* M x y A rx:ry°, xr°, >/<180°?, flip?, x y */
  d: path("M 0 100 A 45 45, 0, 0, 1, 200 100");
}
